<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="emailForm" *ngIf="show==false">
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="enter email" formControlName="email" #email>

            <input type="submit" class="fadeIn fourth" value="send mail" (click)="sendMail(email.value)">
        </form>

        <form [formGroup]="resetForm" *ngIf="show==true">
            <input type="text" id="code" class="fadeIn second" name="code" placeholder="enter code from mail" formControlName="code" #code>
            <input type="text" id="newPass" class="fadeIn second" name="newPass" placeholder="enter new password" formControlName="newPass" #newPass>
            <input type="text" id="newPass2" class="fadeIn second" name="newPass2" placeholder="enter new password again" formControlName="newPass2" #newPass2>
            <input type="submit" class="fadeIn fourth" value="update password" (click)="updatePassword(code.value,newPass.value,newPass2.value)">
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>