<p>
    <mat-form-field appearance="legacy">
        <mat-label>id number</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</p>


<p>
    <mat-form-field appearance="legacy">
        <mat-label>first name</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="legacy">
        <mat-label>last name</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</p>
<!-- 
<div [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <example-tel-input formControlName="tel" required></example-tel-input>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
    </mat-form-field>
</div> -->

<mat-form-field appearance="fill">
    <mat-label>select user kind</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="op" id="op">
        <mat-option *ngFor="let op of options" [value]="op">
            {{op}}
        </mat-option>
    </mat-select>
</mat-form-field>