<!-- <p-fileUpload #fubauto mode="basic" name="demo[]" url="C:\Users\user\Desktop" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Browse">p-fileUpload</p-fileUpload> -->

<p-toast></p-toast>
<button mat-raised-button color="primary">Uploade image</button>
<!--
<form [formGroup]="form" (submit)="onSavePost()">
    <div>
        <button class="file-select" type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview && form.get('image')!.valid">
        <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <button color="primary" type="submit">Save File</button>
</form>

-->