<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div style="background-image: url(39530-pcrzxd.png); background-size: cover;background-repeat: no-repeat; " class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="שם משתמש" name="userName" formControlName="email" #id>
            <mat-icon>account_circle</mat-icon>

            <!-- <input type="text" id="password" class="fadeIn third" name="login" > -->


            <!-- <mat-label>Enter your password</mat-label> -->
            <input id="password" class="fadeIn third" name="login" placeholder="סיסמא" formControlName="password" #password matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>


            <input type="submit" class="fadeIn fourth" value="היכנס" (click)="LogIn(id.value,password.value)">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="pass">?שכחת סיסמא</a>
        </div>

    </div>
</div>