body {
    background-image: url(./modules/user/log-in/39530-pcrzxd.png);
    background-position: center;
    background-repeat: inherit;
}

html {
    background-image: url(./modules/user/log-in/39530-pcrzxd.png);
}