<!-- <p>add-patient works!</p> -->
<div mat-dialog-content>
    <form class="example-form" [formGroup]="form">
    
      
            <mat-form-field appearance="fill">
                <mat-label>Select user</mat-label>
                <select matNativeControl formControlName="user"  formControlName="user">
                    <option 
                     *ngFor="let user of users"
                     
                     [value]="user.id" selected>
                        {{user.firstName+ " "+ user.lastName}}
                    </option>
                </select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addUser()">add user</button>
            <br>
  
        
            <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="birthDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>


        <br>

       
            <mat-form-field appearance="fill">
                <mat-label>Select HMO</mat-label>
                <select matNativeControl  [value]="selected" formControlName="HMOId" name="patient">
                    <option 
                    *ngFor="let hmo1 of hmos"
                     [value]="hmo1.id" selectedHMO>
                        {{hmo1.hmo}}
                    </option>
                </select>
            </mat-form-field>
            
            <br>

        <button mat-raised-button color="primary" (click)="add_patient()">Save Patient</button>
    </form>

</div>